body {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #11e959); */
  background: linear-gradient(-45deg, #242323, #838383, #fbfbfb, #a1a1a1);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  height: 100vh;
  overflow-y: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* Style the navigation bar */
nav {
  background-color: transparent;
  overflow: hidden;
  border: none;
  border-radius: 5px;
}

/* Style the nav list */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  border: none;
  background-color: transparent;
}

nav ul li a {
  display: block;
  color: #6c6c6c;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s;
  border: black;
}

nav ul li a:hover {
  color: skyblue;
  transform: scale(1.05);
}

.card {
  background-color: transparent;
  border: none;
  padding: 1vmin;
}

.p-toast {
  background-color: white;
}

.card-main {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 3vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

@media (max-width: 600px) {
  .card-main {
    display: inline;
    width: 100%;
  }
}

.float-label-margin {
  margin-bottom: 1rem;
}

.h1-margin {
  margin-bottom: 1rem;
  /* Adjust the value as needed */
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.7);
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 10px 10px rgba(0, 123, 255, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
  }
}

.pulsing-button {
  padding: 20px 20px;
  font-size: 16px;
  color: white;
  background-color: #5472d4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  animation: pulse 2s infinite;
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}